{% include "include/nav.html" %}


{#Body#}
<div id="profile-container" class="container">
	<div class="card">
		<div class="card-block card-text">
			<div class="row">
				<div class="card-img-top card-img-top-crop" style="width:250px;height:250px;background-image: url('/image/{{ member_info.uid }}')">
				</div>
				<div class="card-block card-text">
					{% if member_info.active %}

					<h1 class="name"><span><input class="" id="name-field" type="text" value="{{member_info.name}}"></span> <span class="active">   Active Member</span> </h1>

					{% else %}

					<h1 class="name">{{member_info.name}} <span class="active">   Alumni</span> </h1>

					{% endif %}
					
					<h3 class="uid">{{member_info.uid}}</h3>

					<h6 class="info">{{ member_info.info_string  }}</h6>

					<br>

					{% if member_info.alumInfo %}

					<h6 class="birthday">{{member_info.alumInfo}}</h6>

					{% endif %}

					<br>

					<h6 class="birthday">Birthday: (yyyymmdd...) <span><input class="" id="birthday-field" type="text" value="{{member_info.user_obj.birthday}}"></span></h6>

					<h6 class="email">E-Mail: {{member_info.user_obj.mail}}</h6>

					<h6 class="phone">Phone: <span><input class="" id="phone-field" type="text" value="{{member_info.user_obj.mobile}}"></span></h6>


					{% if member_info.uid == info.uid %}

					<button class="btn btn-success proxstar-actionbtn" id="save">SAVE</button>

					<!-- <button class="btn btn-success proxstar-actionbtn" id="photo">UPLOAD PHOTO</button> -->

					<br>

					<!-- <form enctype=multipart/form-data ">
					    <input type=file accept="image/*" name=photo id="photo">
					    <input type="submit" id="photo-button">
					</form> -->

					<form method=POST accept="image/*" enctype=multipart/form-data action="{{ url_for('upload') }}">
					    <input type=file name=photo>
					    <input type="submit">
					</form>

					{% endif %}

				</div>
			</div>

			<br>

			<hr class="divider"></hr>

			<div class="panel-heading">
                    	<h3 class="panel-heading">Membership Info</h3>
                	</div>
			<div class="row">
				<div class="col-sm-3 col-md-6">
					<div class="card-block card-text">
						<h5 class="info">Room Number: {{ member_info.rn }}</h5>
						<br>

						<h5 class="info">Drink Balance: {{ member_info.user_obj.drinkBalance }}</h5>
						<br>

						<h5 class="info">Login Shell: {{ member_info.user_obj.loginShell }}</h5>
						<br>

						<h5 class="info">Plex: <span><input class="" id="plex-field" type="text" value="{{member_info.plex}}"></span></h5>
						<br>

					</div>
				</div>
				<div class="col-sm-3 col-md-6">
					<div class="card-block card-text">

						<h5 class="info">Housing Points: {{ member_info.hp }}</h5>
						<br>

						<h5 class="info">Member Since: {{ member_info.memberSince }}</h5>
						<br>

						<h5 class="info">iButton: {{ member_info.user_obj.ibutton }}</h5>

					</div>
				</div>
			</div>

			<hr class="divider"></hr>

			<div class="panel-heading">
                    	<h3 class="panel-heading">Student Data</h3>
                	</div>
			<div class="row">
				<div class="col-sm-3 col-md-6">
					<div class="card-block card-text">
						<h5 class="info">RIT Username: {{ member_info.ritUid }}</h5>
						<br>

						<h5 class="info">Major: <span><input class="" id="major-field" type="text" value="{{member_info.user_obj.major}}"></span></h5>
						<br>
					</div>
				</div>
				<div class="col-sm-3 col-md-6">
					<div class="card-block card-text">
						<h5 class="info">RIT Year: <span><input class="" id="ritYear-field" type="text" value="{{member_info.user_obj.ritYear}}"></span></h5>
						<br>

						<h5 class="info">RIT Alumni: {{member_info.user_obj.ritAlumni}}</h5>
						<br>
					</div>
				</div>
			</div>

			<hr class="divider"></hr>
			<div class="panel-heading">
                    	<h3 class="panel-heading">Social Media</h3>
                	</div>
			<div class="row">
				<div class="col-sm-3 col-md-6">
					<div class="card-block card-text">

						<h5 class="info">Homepage: <span><input class="" id="website-field" type="text" value="{{member_info.user_obj.homepageURL}}"></span></h5>
						<br>

						<h5 class="info">Github: <span><input class="" id="github-field" type="text" value="{{member_info.user_obj.github}}"></span></h5>
						<br>

						<h5 class="info">Twitter: <span><input class="" id="twitter-field" type="text" value="{{member_info.user_obj.twitterName}}"></span></h5>
						<br>

					</div>
				</div>
				<div class="col-sm-3 col-md-6">
					<div class="card-block card-text">

						<h5 class="info">Blog: <span><input class="" id="blog-field" type="text" value="{{member_info.user_obj.blogURL}}"></span></h5>
						<br>

						<h5 class="info">Google: <span><input class="" id="google-field" type="text" value="{{member_info.user_obj.googleScreenName}}"></span></h5>
						<br>

					</div>
				</div>
			</div>
			
			<br>


		</div>
	</div>
</div>

{% include "include/footer.html" %}

{% include "include/scripts.html" %}