<% if !attr.nil? %>
    <% if attr.size == 1 %>
        <h5><%= format_attr key %>:</h5><div class="attr"><%= attr[0] %></div>
        <br>
    <% else %>
        <h5><%= format_attr key %>:</h5>
        <ul>
        <% attr.each do |elem| %>
            <li><div class="attr"><%= elem %></div></li>
        <% end %>
        </ul>
    <% end %>
<% end %>
