<% @years.each_slice(6).each do |row| %>
    <div class="row">
        <% row.each do |year| %>
            <% if row.length == 6 || row.length == 5 %>
            <div class="medium-2 columns">
            <% elsif row.length == 4 %>
            <div class="medium-3 columns">
            <% elsif row.length == 3 %>
            <div class="medium-4 columns">
            <% elsif row.length == 2 %>
            <div class="medium-6 columns">
            <% else %>
            <div class="medium-12 columns">
            <% end %>

                <ul class="pricing-table" data-equalizer-watch>
                    <%= link_to "/year/#{year}" do %>
                        <li class="title"><%= "#{year} - #{year + 1}" %></li>
                    <% end %>
                </ul>
                <br> 
            </div>
        <% end %>
    </div>
<% end %>

