<% @years.each_slice(6).each do |row| %>
    <div class="row">
        <% row.each do |year| %>
            <div class="medium-2 columns">
                <ul class="pricing-table" data-equalizer-watch>
                    <%= link_to "/year/#{year}" do %>
                        <li class="title"><%= "#{year} - #{year + 1}" %></li>
                    <% end %>
                </ul>
                <br> 
            </div>
            <% for i in row.length..6 %>
                <div class="medium-2 columns"></div>
            <% end %>
        <% end %>
    </div>
<% end %>

