<div class="group-row">
  <% @groups.each do |group| %>
    <div class="group-column">
      <ul class="pricing-table" data-equalizer-watch>
        <%= link_to "/group/" + group["cn"][0] do %>
          <li class="title"><%= group["cn"][0] %></li>
        <% end %>
        <% if group["member"] == [""] %>
          <li class="group-size-bullet">0 members</li>
        <% else %>
          <li class="group-size-bullet">
            <%= group["member"].length %> members
          </li>
        <% end %>
      </ul>
      <br> 
    </div>
  <% end %>
  <% for i in (@groups.length % 6)..6 %>
    <div class="group-column"></div>
  <% end %>
</div>

