<br />
<div class="row year-row">
    <% @years.each do |year| %>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="panel profiles-panel panel-default profiles-panel-default">
                <%= link_to "/year/#{year}" do %>
                    <div class="year-title"><%= "#{year} - #{year + 1}" %></div>
                <% end %>
            </div><!-- /.panel panel-default -->
            <br> 
        </div><!-- /.col-lg-2 col-md-3 col-sm-4 -->
    <% end %>
</div><!-- /.row year-row -->

