<br />
<div class="row group-row">
  <% @groups.each do |group| %>
    <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading group-header">
                <%= link_to "/group/" + group["cn"][0] do %>
                    <strong><%= group["cn"][0] %></strong>
                <% end %>
            </div>
            <div class="panel-body group-body">
                <% if group["member"] == [""] %>
                    0 members
                <% else %>
                    <%= group["member"].length %> members
                <% end %>
            </div><!-- /.panel-body -->
        </div><!-- /.panel .panel-default -->
    </div><!-- /.group-column -->
  <% end %>
</div><!-- /.row group-row -->

