.card {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF
}

.img-circle {
	border-radius: 50%;
}

.profile-img {
	height: 250px;
	width: 250px;
}

.card-img-top-crop {
  	width: 15rem;
  	height: 200px;
  	background-position: center center;
  	background-repeat: no-repeat;
  	overflow: hidden;
}

.user-card {
	width: 15rem;
}

.card-text {
	margin-left: 30px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.active {
	color: #ccc;
}

#groups {
	padding-top: .9rem;
	padding-bottom: 0;
}

body {
	background-color: #eee;
}

a {
	color: #222;
	text-decoration: none;
}

a:link {
	color: #222;
    	text-decoration: none;
}

a:visited {
	color: #222;
    	text-decoration: none;
}

a:hover {
	color: #222;
    	text-decoration: none;
}

a:active {
	color: #222;
    	text-decoration: none;
}
