@import "foundation/components/grid";
@import "foundation/components/pricing-tables";

@media(min-width: 10px) {
    .user-row {
        @include grid-row();
        .user-column {
            @include grid-column(6);
        }
    }
}

@media(min-width: 500px) {
    .user-row {
        @include grid-row();
        .user-column {
            @include grid-column(4);
        }
    }
}

@media(min-width: 800px) {
    .user-row {
        @include grid-row();
        .user-column {
            @include grid-column(3);
        }
    }
}

.title-bullet {
    @include pricing-table-title;
    overflow:hidden; 
    white-space: nowrap; 
    padding: 10px;    
}

.uid-bullet {
    text-align:center; 
    margin-top: 25%; 
    word-wrap:break-word;
}

.cn-bullet {
    @include pricing-table-bullet;
    overflow:hidden;
    height: 50px;
    text-align: center;
}

.profile-pic {
    height: auto;
    width: auto;
    max-height: 60px;
    max-width: 60px;
}
