@import "foundation/components/thumbs";
@import "foundation/components/panels";
@import "foundation/components/labels";
@import "foundation/components/tooltips";

#cn-title {
    margin-left:10px; 
    margin-top:20px;
}

#image-title {
    float: right; 
    white-space: nowrap
}

#image-thumb {
    float: right;
}

#info-parent {
    float: right;
    line-height: 60px;
}

#info-container {
    vertical-align: middle;
    margin-right: 10px;
}

#status-container {
    text-align: right;
    height: 50px;
}

.position-label {
    float: right;
    margin-left: 5px;
}

.position-tooltip {
    @extend has-tip;
    font-weight: normal;
    cursor: default;
    border: none;
}

.thumbnail {
    @include thumb;
    width: 75px;
    height: 75px;
    border-radius: 150px;
}

#image-form {
    display: none;
}

#image-button { 
    @extend .button;
    padding: 8px; 
    font-size: 12px;
    margin-bottom: 1px;
    border-radius:5px;
}

.info-panel {
    @include panel;
    h5 {
        white-space: nowrap;
        margin: 0px;
        display:inline-block;
    }
    .attr {
        display:inline; 
        word-wrap: break-word; /* Internet Explorer 5.5+ */
    }
    .attr:after {
        content: "\a";
        white-space: pre;
    }
    ul {
        margin: 0px;    
    }
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -o-column-break-inside: avoid;
    -ms-column-break-inside: avoid;
    column-break-inside: avoid;
    break-after: column;
    page-break-inside: avoid;
}

.other-attr {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -o-column-break-inside: avoid;
    -ms-column-break-inside: avoid;
    column-break-inside: avoid;
    break-after: column;
    page-break-inside: avoid;
}

#edit-button {
    background-color: #9D4799;
    font-weight: bold;
}

.panel-container {
    width: 100%;
    -moz-columns: 1; 
    -webkit-columns: 1; 
    columns: 1; 
}

@media(min-width: 600px) {
    .panel-container {
        width: 100%;
        -moz-columns: 2; 
        -webkit-columns: 2; 
        columns: 2; 
    }    
}

@media(min-width: 900px) {
    .panel-container {
        width: 100%;
        -moz-columns: 3; 
        -webkit-columns: 3; 
        columns: 3; 
    }    
}
