@import "foundation/components/buttons";

/******COLORS******/
/*Green:#5ba215*/
/*Dark Green:#498211;*/
/*Charcoal:#222*/
/*Gray:#bbb*/

/******GENERAL*****/
@font-face {
  font-family:Eras;
  src:url('eras/Eras Light.eot'); /* IE9 Compatibility Modes */
  src:url('eras/Eras Light.eot?') format('eot'),  /* IE6-IE8 */
    url('eras/Eras Light.woff') format('woff'), /* Modern Browsers */
    url('eras/Eras Light.ttf')  format('truetype'); /* Safari, Android, iOS */
}
::selection {
  background:#f50565;
  color:white;
}
::-moz-selection {
  background:#f50565;
  color:white;
}


html, body {
  width:100%;
  height:100%;
  min-width:220px;
  line-height:1.5;
  font-family: 'Oxygen', sans-serif;
  color:#222222;
  background: image-url('background.png');
  background-repeat: repeat;
}
* {
  margin:0;
  padding:0;
  border:none;
  list-style:none;
}

/****Foundation******/
.top-bar.expanded .toggle-topbar a {
    color: #FFFFFF;
}

.top-bar.expanded .toggle-topbar a span {
    -webkit-box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
    box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
}

.top-bar {
    background: none;
    color: white;
    margin-bottom: 0px;
    padding-bottom: -15px;
}

.top-bar-section ul {
    background-color: inherit;
}

.top-bar-section ul li > a {
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: .3s;
}
.top-bar-section ul li > a:active{
    color: white;
    background-color: #f50565;
    -webkit-transition: 1s;

}
.top-bar-section ul li.active > a {
    background:  #f50565;
}

.top-bar-section li a:not(.button):hover {
    background:  #aD57a9;
    text-shadow: #333 1px 1px;
    -webkit-transition: .4s;
}
.top-bar-section li a:not(.button) {
    //background: none;
    background:  #aD57a9;
    -webkit-transition: 1s;
}

.panel {
  background-color: white;
  border-color: white;
  padding: 20px;
}

#logo{
  padding-bottom: 3px;
}

#main {
  margin-top: 1%;
}

#menu {
  background-color: #9D4799;
 /* height: 55px; */
  border-bottom: 10px solid white;
  padding: 0px;
  margin-bottom: 35px;
  text-shadow: #333 1px 1px;
  box-shadow: 0px 15px #e50565;
}
.top-bar.expanded .title-area {
    background-color: inherit;
    /*background: #aD57a9;*/
}
.button {
  color:#7d1294;
  background-color:#ccc;
  border: 0px;
}
.button:hover {
  color:#333;
  background-color:#999;
}
.button:focus {
  //color:#7d129#aD57a94;
  background-color:#ccc;
}

.f-dropdown {
  padding: 5px;
}

/*******************/
a {
  text-decoration:none;
  color:#7d1294;
}
a:hover {
  color:#9D4799;
}
h2 {
  color:#3ba215;
}
.smallCaps {
  font-variant:small-caps;
}
.wrapper {
  max-width:1200px;
  margin:0 auto;
}
.wrapper img[src="/assets/logo.png"]:hover{
  opacity:50;
  filter:alpha(opacity=.5);
}
.center {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

#container {
    background-color: white;
}

#main-header {
  padding: 20px;
  padding-top: 5px;
  padding-left: 5px;
  margin-bottom: 15px;
  background-color: #ddd;
  border: 1px solid #ddd;
  box-shadow: 0px 5px #f50565;
  height: 63px;
}

.bottom-line {
  border-bottom: 5px solid #f50565;
}

#view-options {
    text-align: center;
    float: right;
}

#popular {
  float: left;
}

#popular ul li {
  float: left;
  display: inline;
}

#popular ul .popular:hover {
    background-color: #bbb;
}

/*#popular ul li h4{
    color: white;
}*/

/*****ICON BOXES*****/
.icon-box {
  float:left; 
  /*border:1px solid #bbb;*/ 
  margin: 3px;
  padding: 3px;
  min-width: 85px;
  max-width: 100px;
  height: 125px;
  background-color: #fff;
  text-align: center;
  line-height: 1.25;
  font-size: 1em;
}

/*.icon-box p {
  color:#5ba215;
  line-height: 1.25;
}*/

.icon-box:hover {
  background-color: #ddd; 
  cursor: pointer;
}

/*.icon-box:hover p {
  color:#498211;
}*/

.icon {
  width: 72px;
  height: 72px;
  margin:auto;
}

.icon-small {
    /*background-image:url('../members-icons/img/members_icons_72_white.png');
    background-size: 500%;*/
    width:36px;
    height:36px;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

/*****FOOTER*****/
#footer {
  background:#fff;
  color:#aaa;
  font-size:90%;
  text-align:center;
  padding-top: 1.5%;
  padding-left: 40%;
  padding-bottom: 1.5%;
}

//-----------------------------------------------------------------------------
//-----------------------------------------------------------------------------
//-----------------------------------------------------------------------------
//-----------------------------------------------------------------------------


#view-options {
    float: left;
    padding-top: 10px;
    text-align: center;
}

#search {
    float: right;
}

.nav-button { 
    @include button($padding: rem-calc(7));
    font-size: 12px;
    color:#7d1294;
    background-color:#ccc;
    margin-bottom: 7px;
    border-radius:5px;
}

.nav-button:hover {
    color:#333;
    background-color:#999;
}

.nav-button:focus {
    background-color:#ccc;
}

input[type="text"]{
        margin: 5px;
}

