.button.small {
    padding: 10px;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    background: #9D4799;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
    background: #ad57a9;
}

#main-header {
    height: auto;
    padding-bottom: 0px;
}

#view-options {
    float: left;
}

#search {
    float: right;
}

#search_search {
    margin: 0px;
}

.nav_button {
    margin-bottom: 10px;    
}

.edit_page {
    margin-bottom: 0px;    
}
.edit_row {
    padding-top: 5px;
    padding-bottom: 5px;
}
input[type="text"]{
        margin: 5px;
}
